$title-color: #333333;
$info-color: #666666;
$desc-color: #999999;
$active-color: #ff5a1f;
$tag-bg-color: #ffe7dd;

.customSearchBar {
    @import url(//at.alicdn.com/t/font_1066302_mb5uyf5re4g.css);
    font-size: 24px;
    .searchForm {
        display: flex;
        .searchInputBox {
            position: relative;
            display: flex;
            flex: 1;
            width: 594px;
            height: 72px;
            line-height: 72px;
            border: 1px solid $active-color;
            border-radius: 36px;
            color: $title-color;

            .searchIcon {
                position: absolute;
                top: 0;
                left: 0;
                margin-left: 30px;
                font-size: 32px;
                .icon {
                    &::before {
                        content: '\e600';
                    }
                }
            }

            .searchInput {
                display: block;
                height: 100%;
                width: 100%;
                padding: 0 82px;
                caret-color: $active-color;
            }

            .searchClear {
                display: none;
                position: absolute;
                right: 22px;
                font-size: 42px;
                z-index: 2;
                &::before {
                    content: '\e710';
                }
            }
        }

        .searchBtn {
            margin-left: 30px;
            height: 72px;
            line-height: 72px;
            font-size: 28px;
            color: $active-color;
        }
    }

    :global {
        .search-bar-icon {
            font-family: "iconfont" !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: $desc-color;
        }
    }
}