@import '@/styles/variable.scss';
.payResultWait {
  padding-top: 62px;
  text-align: center;
}
.image {
  height: 260px;
  width: 260px;
}


.countDown {
  font-size: 32px;
  color: $text-color;
  line-height: 60px;
  margin-top: 40px;
}
.countDownTips {
  font-size: 32px;
  color: $text-color-light;
  line-height: 60px;
}
.countDownNum {
  color: $primary-color;
}
.button {
  margin: 160px 72px 0 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90px;
}
.buttonLeft {
  width: 288px;
}
.buttonRight {
  width: 288px;
}