.car{
   & .header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#ffffff;
    z-index: 100;
   }
   & .body{
       box-sizing:border-box;
       padding-top:85px;
       padding-bottom:98px;
   }
  
}
