.car{
   & .header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#ffffff;
    z-index: 100;
   }
   & .body{
       margin-top:85px;
       margin-bottom:98px;
   }
   & .foot{
       position:fixed;
       bottom:0;
       left:0;
       width:100%;
       background:#ffffff;
   }
}
