@import '@/styles/variable.scss';
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.scrollView {
  flex: 1;
  padding: 36px;
  color: $text-color;
  font-size: 28px;
  .cell {
    margin-bottom: 50px;
  }
  .item {
    display: block;
  }
}
.footer {
  height: 98px;
  .button {
    height: 100%;
  }
}