.statistics {
    font-size: 28px;
    .table {
      margin-top: 20px;
      border: 1px solid #dadada;
      border-right: 0;
      border-bottom: 0;
      width: 100%;
    }
    .tr {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .th,
    .td {
      padding: 10px;
      border-bottom: 1px solid #dadada;
      border-right: 1px solid #dadada;
      text-align: center;
      width: 100%;
      font-size: 25px;
    }
    .td {
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap
    }
    .th {
      vertical-align: middle;
      font-size: 28px;
      font-weight: 400;
      background-color: #dadada;
    }
  }
  