.list_car{
    background:#ffffff;
    // margin-bottom:20px;
    .car{
        display:flex;
        padding:24px 36px 0 36px;
        .list{
            & .taro-img{
                width:300px;
                height:168px;
            }  
        }
        .content{
            margin-left:17px;
            .title{
                font-size:26px;
                color:rgba(51,51,51,1);
                padding-top:7px;
            }
            .activeName{
                font-size:18px;
                margin-top:18px;
                & .active{
                    padding:8px 20px;
                    background:rgba(255,231,221,1);
                    border:1px solid rgba(235,97,0,1);
                    border-radius:4px;
                    color:rgba(255,90,31,1);
                }
                & .price{
                    font-size:24px;
                    color:rgba(51,51,51,1);
                    padding:0 12px 0 22px;                   
                }
                & .real_price{
                    color:rgba(153,153,153,1);
                    text-decoration:line-through;
                }
            }
        }
    }
    // .detail{
    //     display:flex;
    //     color:rgba(51,51,51,1);
    //     font-size:22px;
    //     justify-content:space-between;
    //     align-items:center;
    //     padding:15px 36px;
    //     .real_pay{
    //         .price{
    //             font-size:32px;
    //             color:rgba(51,51,51,1);
    //         }
    //     }
    // }
}