$title-color: #333333;
$desc-color: #666666;
$border-line-color: #EDEDED;
$active-color: #FF5A1F;
.courseList {
    @import url(//at.alicdn.com/t/font_1059909_yonuo36mqbm.css);
    position: relative;
    margin: 24px 0 0;
    // 排序筛选
    .sortFilterBox {
        margin: 30px 0 36px;
        padding: 0 36px;
    }

    // 搜索区域
    .searchBarBox {
        padding: 0 36px;
        // 最近搜索
        .recentSearch {
            position: absolute;
            padding: 0 36px;
            width: 100%;
            height: 100vh;
            font-size: 26px;
            color: $desc-color;
            background: #ffffff;
            z-index: 10;
            .titleBox {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 25px 0;
                border-bottom: 1px solid $border-line-color;
                .title {
                    font-size: 28px;
                    color: $title-color;
                }
                .clearAll {
                    font-family: "iconfont" !important;
                    font-size: 32px;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    &::before {
                        content: '\e64a';
                    }
                }
            }
    
            .recentWordList {
                .wordTag {
                    display: inline-block;
                    margin-top: 30px;
                    margin-right: 26px;
                    line-height: 1;
                    padding: 20px 24px;
                    border:1px solid $border-line-color;
                    border-radius:6px;
                }
            }
        }
    
        // 搜索提示
        .searchTipsBox {
            display: none;
            position: absolute;
            width: 100%;
            height: 100vh;
            margin-top: 30px;
            background: #ffffff;
            z-index: 20;
            .tipsList {
                .tips {
                    padding: 35px 0;
                    font-size: 28px;
                    font-weight: 400;
                    &:active {
                        background: #F2F2F2;
                    }
                }
            }
    
        }
    }

    // 类目 tag
    .categoryListBox {
        width: 100%;
        .scrollView {
            padding: 0 36px 0;
            white-space: nowrap;
            line-height: 1;
            border-bottom: 1px solid $border-line-color;
            .tag {
                margin: 0 35px;
                padding: 24px 0;
                display: inline-block;
                text-align: center;
                font-size:30px;
                font-weight:500;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }

            :global {
                .active {
                    color: $active-color;
                }
            }
        }
    }


    // 课程列表
    .listBox {
        padding: 0 36px;
        .descBox {
            margin-top: 24px;
            font-size: 22px;
            line-height: 1;
            .teacherBox {
                margin-left: 25px;
            }
        }

        .tagPriceBox {
            margin-top: 12px;
            font-size: 18px;
            .tag {
                display: inline-block;
                border-radius: 4px;
                border: 1px solid #eb6100;
                color: $active-color;
                background-color: #ffe7dd;
                padding: 6px 9px;
                line-height: 1;
            }
            .activePrice {
                margin-left: 18px;
                font-size: 24px;
            }
            .price {
                margin-left: 13px;
                color: $desc-color;
                font-size: 18px;
                text-decoration: line-through;
            }
        }
        // 列表结果为空
        .emptyList {
            margin-top: 278px;
            font-size: 28px;
            text-align: center;
            color: #3C3D41;
            .imgBox {
                display: inline-block;
                width: 203px;
                padding-bottom: 14px;
                .img {
                    width: 100%;
                }
            }

            .gotoOther {
                margin-top: 20px;
                font-size: 22px;
                text-decoration: underline;
                color: $active-color;
            }
        }

        :global {
            .highlight-text {
                color: $active-color;
            }
        }
    }
}