$title-color: #333333;
$info-color: #666666;
$desc-color: #999999;
$active-color: #ff5a1f;
$tag-bg-color: #ffe7dd;

.courseCard {
    display: flex;
    // 左侧图片
    .imageBox {
        width: 300px;
        height: 168px;
        .img {
            width: 100%;
            border-radius:4px;
        }
    }

    // 信息区域
    .detailBox {
        margin-left: 18px;
        width: 336px;
        color: $info-color;
        padding-top: 7px;
        .title {
            font-size: 26px;
            color: $title-color;
            line-height: 1.23;
        }
    }
}